.color1 {
  color: #04cd8f;
}
.color2 {
  color: #029669;
}
.color3 {
  color: #3e4651;
}
.color1l {
  color: #04cd8f;
}
.font1 {
  font-family: 'Montserrat', sans-serif;
}
.font2 {
  font-family: 'Hind', sans-serif;
}
.anima1 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.anima-none {
  -webkit-transition: none!important;
  -moz-transition: none!important;
  transition: none!important;
}
.anima-transform {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.background-cover,
.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.responsive-image {
  width: 100%;
}
.no-pl {
  padding-left: 0 !important;
}
.no-pr {
  padding-right: 0 !important;
}
.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clean-list li {
  padding-left: 0;
  margin-left: 0;
}
